body {
    background-color: #B8AEC2;
  }
  h1 {
    color: black; 
    text-align: center;
    font-family: "Helvetica";
    font-size: large;
  }
  p {
    color: black;
  }
  .selfie{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  body{
      color: black;
      text-align: center;
      font-family: "Helvetica";
      font-size: large;
  }